expo-env.d.ts
# @end expo-cli

# Node modules
# @node_modules/

# Env files
.env
.env.local
.env.*.local

# Lock files (якщо не хочеш комітити їх)
package-lock.json
yarn.lock

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Expo specific
.expo/
.expo-shared/

# macOS
.DS_Store

# IDE
.vscode/
.idea/
/node_modules/
